.h1{
    position: absolute;
    top: 35px;
    right: 100px;
    color: #333333;
    font-size: 30px;
    margin-top: 40px;
   
   
    
    }
    .contianer{
        display: flex;
        align-items: center;
       
      
         
    
    }
    
    .field {
        width: 400px;
        height: 56px;
        border-radius: 4px;
        position: relative;
        transition: 0.3s all;
        padding: 10px;
        outline: none;
        border: none;
        
      }
      .field:focus {
        border: 1px solid blue;
        border-radius: 8px;
      
    
    
     
      } 
      .check {
       width: 17px;
       /* background-color: #ffffff; */
    
      } 
      .field::placeholder{
       color: #999999;
       font-size: 20px;
      }
      form{
      position: relative;
      left: 110px;
      bottom: 120px;
      
      }
     .checkbox{
        display: flex;
       justify-content: flex-start;
       color: #999999;
     }
     .submit{
       background-color: #6675DF;
       color: #ffffff;
       width: 450px;
        height: 56px;
        border-radius: 12px;
        border: none;
        margin-top: 15px;
    
     }
     .submit:hover{
      background-color: #333333;
      cursor: pointer;
     }
     .signup{
        color: #999999;
        font-size: 13px;
     
    position: relative;
      left:  250px;
     
     }  
  
   
   
    /* .social{
       display: flex;
       justify-content: center;
       margin-right: 30px;
     
    } */
    .forget{
        margin-left: 200px;
    color: #555555;
    
    }
    .image{
 width: 680px;

    }
    .social{

   display: flex;
   justify-content: center;
  position: relative;
  left: 80px;
  top: 10px;
  
    
   }
   .facebook{
    width: 30px;
   }
  